/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/public/css/
/public/js
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
/.vscode
.phpunit.cache/test-results
