includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    scanFiles:
        - _ide_helper_models.php

    level: 6

    ignoreErrors:
        - '#PHPDoc tag @var for variable \$this contains generic class Illuminate\\Support\\Collection but does not specify its types: TKey, TValue#'

    excludePaths:
        # - ./*/*/FileToBeExcluded.php
